nav{
    margin: 20px;
}

.nav__cards{
    display: flex;
    position: relative;
    margin-top: 30px;
    padding: 15px;
    background-color:var(--backgroundlightgrey);
    box-shadow: 5px 5px 10px rgb(218, 218, 218);
    border-radius: 30px;
}

p.nav__cards{
    color:black;
}

p.cards__number{
    position: absolute;
    left: -10px;
    color: white;
    border-radius: 40px;
    background-color: var(--purple);
    padding: 5px 10px 5px 10px;
}

p.cards__content{
    color: black;
    font-weight: bold;
}

nav img{
    padding-right: 20px;
    padding-left: 20px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width:993px){

    .desktop{
        display: flex;
        justify-content:center;
        gap: 50px;
    }

    .nav__cards{
        padding: 15px 30px 15px 30px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

}

