.schrik{
    font-family:Shrikhand, Georgia, 'Times New Roman', Times, serif, Times, serif;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

.roboto{
    font-family:Roboto;
    background-color: white;
    margin: 0px;
}