.banner__explore p{
    font-size: 20px;
}
.banner_locate a{
    text-decoration: none;
}
#banner a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:black;
}
#banner img{
    position: relative;
    right: 15px;
}
.banner__locate{
    background: rgb(233, 233, 233);
    box-shadow: -1px 7px 5px -5px inset rgb(185, 185, 185);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.banner__explore{
    background-color: var(--backgroundlightgrey);
    margin: 0px;
    padding: 30px 50px 50px 50px;
}

.banner__explore h1, .banner__explore p{
    text-align: center;
}

.banner__explore p{
    color:  rgb(95, 95, 95);
}

.banner__button p{
    display: block;
    width: 250px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color:white;
    padding: 17px;
    border-radius: 30px;
    background: linear-gradient(to bottom right,var(--pink),var(--purple));
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

