nav{
    margin: 20px;
}

.nav__cards{
    display: flex;
    position: relative;
    margin-top: 30px;
    padding: 15px;
    background-color:#f3f3f3;
    box-shadow: 5px 5px 10px rgb(218, 218, 218);
    border-radius: 30px;
}

p.nav__cards{
    color:black;
}

p.cards--number{
    position: absolute;
    left: -10px;
    color: white;
    border-radius: 40px;
    background-color: #9356DC;
    padding: 5px 10px 5px 10px;
}

p.cards--content{
    color: black;
}

nav img{
    padding-right: 20px;
    padding-left: 20px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
